<div class="container">
    <div class="row">
        <div class="col-md-12 text-md-center">
            <h2>Choose from deck list</h2>
        </div>

        <div class="col-md-12" *ngFor="let data of deckList._result">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Deck Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of data">
                        <td>
                            {{result.name || "No deck available, add a new one"}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-primary" (click)="addToDeck(result.id)">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

        <div class="col-md-1" style="padding:5px">
            <button type="button" class="btn btn-default" (click)="closeModal()">Cancel</button>
        </div>
    </div>
</div>
