<div class="container">

    <div class="row">
        <div class="col-md-12 text-md-center" style="padding-top:10px">
            <h2>Kanji Detail</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div *ngIf="loading">

            <div class="col-md-8" *ngFor="let result of detail._result">
                <div class="card">
                    <ul class="list-group list-group-flush row">
                        <div class="col-xs-3 text-xs-center" style="padding-right:0;">
                            <li class="list-group-item">ID</li>
                            <li class="list-group-item">Kanji</li>
                            <li class="list-group-item">Keyword</li>
                            <li class="list-group-item">Story</li>
                        </div>

                        <div class="col-xs-9 border" style="padding-left:0;border-left:1px solid lightgrey;">
                            <li class="list-group-item">{{result.glyph_id}}</li>
                            <li class="list-group-item">{{result.kanji}}</li>
                            <li class="list-group-item">{{result.keyword}}</li>
                            <li class="list-group-item">{{story._result || '\u00A0\u00A0'}}</li>
                        </div>
                    </ul>
                    <div class="card-block">
                        <form (ngSubmit)="onSubmit(result.id,userStory.story, result.glyph_id)" #userStory="ngForm">
                            <div class="form-group">
                              <div class="text-xs-center">
                                <label *ngIf="story._result == '\u00A0\u00A0'" for="storyEdit">Add a story</label>
                                <label *ngIf="story._result != '\u00A0\u00A0'" for="storyEdit">Edit story</label>
                              </div>
                                <textarea class="form-control" id="storyEdit" rows="3" [(ngModel)]="userStory.story" name="story"></textarea>
                            </div>
                            <button class="btn btn-outline-primary btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <!-- <button type="button" class="btn btn-outline-default btn-block" (click)="goBack()">Back</button> -->
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-default btn-block" (click)="goBack()">Back</button>
        </div>
        <div class="col-md-5">
            <!-- <button type="button" class="btn btn-outline-default btn-block" (click)="goBack()">Back</button> -->
        </div>
    </div>

</div>
</div>
