<div class="container">

    <div class="row">
        <div class="col-md-12 text-md-center">
            <h2>Mirai Kanji List</h2> This is the available data:
        </div>

        <div>
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kanji</th>
                            <th>Keyword</th>
                            <th>Story</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of listAsync | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }" [routerLink]="['/kanji-detail', data.id]">
                            <td>
                                {{data.id}}
                            </td>
                            <td>
                                {{data.kanji}}
                            </td>
                            <td>
                                {{data.keyword}}
                            </td>
                            <td>
                                {{data.story || "" }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" (click)="openModal(data.object_id);$event.stopPropagation()">Add to deck</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-default" (click)="logout()">Logout</button>
        </div>
    </div>
    <!-- <div class="col-md-1">
      <button type="button" class="btn btn-default" (click)="openModal()">Modal</button>
    </div> -->

</div>
</div>
