<div class="container">
    <div class="row">
        <div class="col-md-12" *ngIf="loading">
            <h1>Deck details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-md-center" *ngIf="loading">
            <span> {{keyword}}
            </br>
        </div>
    </div>
    <div class="row">
      <div class="col-md-2">
          <button type="button" class="btn btn-outline-default" (click)="goPrev()">Prev</button>
      </div>
      <div class="col-md-8 text-md-center">
        <span style="font-size:100px;min-height:100px" *ngIf="showKanji">{{glyph}}
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-outline-default" (click)="goNext()">Next</button>
      </div>
    </div>
</div>
