<div class="container">
    <h3>Add New Deck</h3>
    <div class="row">
        <div class="col-xs-12" style="padding:10px">
            <form (ngSubmit)="addDeck(deck.name)" #deck="ngForm">
                <div class="form-group row" style="vertical-align:middle">
                    <label for="example-text-input" class="col-xs-3 col-form-label">Deck Name</label>

                    <div class="col-xs-9">
                        <input class="form-control" type="text" [(ngModel)]="deck.name" name="deck-name" id="example-text-input">
                    </div>
                </div>
                <div class="">
                    <button type="button" class="btn btn-primary" (click)="addDeck(deck.name)">Add</button>
                    <button type="button" class="btn btn-primary" (click)="closeModal()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
    </div>

</div>
