<div class="container">
    <div class="row">
        <div class="col-md-12 text-md-center">
            <h2>Deck List</h2> This is the available deck:
        </div>

        <div class="col-md-12" *ngFor="let data of deckList._result">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Deck Name</th>
                        <th>Entry
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of data" [routerLink]="['/deck-detail', result.id]">
                        <td>
                            {{result.name || "No deck available, add a new one"}}
                        </td>
                        <td>
                            {{result.list.length}}
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-default" (click)="openModal()">Add new deck</button>
        </div>
    </div>
</div>
