<div class="container">
    <div class="row">
        <div class="col-md-12" *ngFor="let list of deckDetail._result">
            <h1>Deck details</h1>
            <span *ngFor="let result of list">
            </br>• {{result.keyword}}
        </div>

        <div class="col-md-1" *ngIf="deckDetail._result">
            <button type="button" class="btn btn-default" (click)="studyDeck()">Study this Deck</button>
        </div>
    </div>
</div>
