<nav class="navbar navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Mirai Kanji</a>

        <ul class="nav navbar-nav">
            <li class="nav-item" *ngIf="!loggedIn">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn">
                <a class="nav-link" [routerLink]="['/kanji']">Kanji List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/deck']">Deck</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        </ul>

        <!-- <form class="nav navbar-nav navbar-right">
            <input class="form-control" type="text" placeholder="Search">
            <button type="button" class="btn btn-primary" type="submit">Search</button>
        </form> -->
      </div>
</nav>
